.bodyDiv {
  z-index: 5;
  background-color: white;
  position: absolute;
  width: 100%;
}

header {
  margin: 0;
  width:100%;
}

/* ------- NavBar ------- */

.nav-link-text {
  color: white;
}

.nav-link-text:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.nav-link-text h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}

.nav-link-text h1:hover {
  color: red;
}

.nav-link-text h1:visited {
  color: white;
}


.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-toggler {
  background: rgba(225, 226, 225, 0.7)
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

/* ------- Logo ------- */

.logo-container h1 {
  font-family: 'Suez One', serif;
  font-size: 4vw;
  
}

.logo-part h2 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 3vw;
}

.logo-container h5 {
  font-family: 'Suez One', serif;
  font-size: 2vw;
}

.logo-container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.invite-btn{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.logo-part {
  background-color: #fff4f5;
  height: auto;
  padding: 0;
  margin: 0;
  color: black;
  font-size: 4vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-my-image {
  border-radius: 100%;
  margin: 0 0 0 auto;
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 1;
  
}

.logo-img-div {
  display: flex;
  justify-content: center;
  padding: 0;

}

.icons-row:has(.row) {
  padding: 0 50px;
  margin: 0;
}

.icons-col,
svg {
  width: 20px;
}

.logo-part .row {
  margin: 0;
}

.social-image {
  width: 40px;
  height: 40px;
  border-style: black 2px;
}

.my-details-logo {
  margin-top: auto;
  margin-bottom: auto;

}

@media (min-width: 800px) {

  .logo-my-image {
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 1100px) {

  .logo-my-image {
    height: 350px;
    width: 350px;
  }
}

@media screen and (max-width: 576px) {
  .logo-my-image {
    height: 100px;
    width: 100px;
  }
}


/* ------- Credit Page ------- */

.credit-part a {
  color: white;
}